.contact {
    padding-bottom: 2em;
}

.contact .clipboard_message{
    text-align: center;
}

.contact .title {
    text-align: center;
}

.contact .contact_button_list {
    margin-top: 1em;
    display: flex;
    justify-content: center;
}

.contact .contact_button_list .contact_button {
    background-color: #90adc6;
    color: black;
    padding: 10px 20px;
    border-radius: 25px;
    cursor: pointer;
    margin-right: 5px;
    margin-left: 5px;
    
    display: flex;
    align-items: center;
}

.contact .contact_button_list .contact_button img{
    height: 1em;
    padding-right: 5px;
}