nav {
    display: flex;
}

nav div{
    width: 40%;
}

nav div h1{
    font-family: 'Times New Roman';
    font-size: 250%;
}

nav ul {
    width: 60%;
    margin-block-start: 0;
    margin-block-end: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav ul li{
    list-style: none;
    padding-left: 2.5%;
    padding-right: 2.5%;
    padding-bottom: 1%;
    padding-top: 1%;
    font-size: 120%;
    cursor: pointer;
}

nav ul li:hover{
    background-color: #282f38;
}

@media only screen and (max-width:770px){
    nav div {
        display: none;    
    }

    nav ul {
        width: 100%;
        justify-content: center;
        margin-top: 1em;
        padding-left: 0;
    }

}